<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>About us</title>
</head>
<body>
<h1><b>About us</b></h1>
<h2><b>Our Mission:</b></h2>
<h3><b>For city residents:-</b></h3>
<p>To provide a dynamic and common platform to city residents where they can stay connected to interact, engage and meet their needs.</p>
<h3><b>For city business owners:-</b></h3>
<p>To provide a powerful sales lead generation and a digital marketing & advertisement platform and partner with them towards their revenue and organizational growth.</p><br>
<h2>Who are we?</h2>
<p>CityHoopla is a mobile app product of DigiSpace Software Private Limited headquarter based out of Pune (India). The leadership team of DigiSpace has rich and valuable experiences across numerous domains and proud to have around 75 years of work experience across the team. Though coming from different areas of expertise, one factor remains common across the team is INNOVATION.<br>
Team CityHoopla promises to keep delivering many more innovation towards our mission.</p>
<h2>What is CityHoopla?</h2>
<p>It is a city based app with a sole intention of providing a common platform to city residents to engage and stay connected with each other.<br>
With this revolutionary app, users  will have the ability to interact with a city of their choice on three different levels: CityBusiness, CityLife or CityStar and maximize their daily experiences.</p><br>
<h3><b>CityBusiness:</b></h3>
<p>While it serves as a vibrant, dynamic and interesting floor to interact with your city, it provides a one-stop B2C (Business to Consumer) solution and connects users to city businesses available to meet your specific requirements.<br>
CityBusiness provides users access to local businesses, information about their services and products, exact contact information, various advertisements, prices, offers and many other details.<br>
However, it doesn’t stop there. As a CityHoopla user, <b>you are entitled for special discounts.</b><br>
Users may also choose to call our toll-free number to locate any products/services. CityHoopla ambassadors will be delighted to help.<br>
Did your friends ditch you at the last minute and you have some extra tickets for an event to sell off? Do not worry. Post your quick advert for free in CityHoopla and let your fellow city residents reach out to you before they go waste.
</p>
<h2><b>Are you a business owner?</b></h2>
<p>Partner with CityHoopla to boost your sales and help you digitally advertise and market your products/services.<br>
Based on simple and flexible and affordable subscription plans, publish images, videos and information on your products/services to reach out to your fellow city residents. Write to us at <a href="http://www.info@city-hoopla.com">info@city-hoopla.com</a> for subscription and pricing details.</p><br>
<h2><b>CityLife:</b></h2>
<p>CityLife is a powerful social media platform to discuss city related social issues and to share experiences with your fellow city residents. We all love appreciations so why not share what you really like and what you are proud of about your city. This covers a wide range of categories like Traffic, Healthcare System, Railways, Police, your local Municipal Corporation and many other.</p>
<h2><b>CityStar:</b></h2>
<p>Meet your City Star personality very week.
We did mention that this extraordinary app allows users 3 levels of optimal usage… well, once a user engages with City Star they will be introduced to a city personality, a weekly feature that picks up an extraordinary fellow city resident who we all must recognize and applause.</p>
</body>
</html>