<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>FAQ</title>
</head>
<body>
<p>
<ol>
	<li>
		<b>What cities are being covered under CityHoopla currently?</b>
		<div>We are currently operating in Pune only however will be soon expanding rapidly across India and even internationally.</div>
	</li>
	<li>
		<b>Which operating systems does CityHoopla support?</b>
		<div>The app requires either Android or iOS OS.</div>
	</li>
	<li>
		<b>Do I need to register/sign-up to the app in order to use it?</b>
		<div>Not necessarily. You can browse for information without registering. Simply enter the app via “Skip Login” link in the Login screen. However, we strongly recommend you to register/sign-up in order to avail the full usefulness of the app. For example, here are some features of the app for which you need to be logged in as a CityHoopla registered user:
		<ul>
			<li>Avail special CityHoopla exclusive discounts/offers</li>
			<li>Re-sell any unused extra tickets for events you may have for free</li>
			<li>Get notifications at various triggers</li>
			<li>Post to CityLife</li>
			<li>Add your comment and point of view to other CityHoopla registered user’s CityLife postings.</li>
		</ul>
		</div>
	</li>
	<li>
		<h2><b>How do I avail CityHoopla special discounts/offers?</b></h2>
		<div>Firstly, you will need to complete the registration which takes less than 1 minute. Once you are logged in to the app and have selected a particular product/service, click the “Avail Offer” button at the bottom of the screen. A discount coupon will be generated and you can save it locally to your phone gallery. You can now walk-in to the selected business owner’s office/shop/premises and display the generated discount coupon in order to avail the discount. Remember to be mindful about the discount validity duration mentioned in your generated coupon.</div>
	</li>
	<li>
		<h2><b>What do I do if a business owner does not respect and recognize the CityHoopla generated discount coupon?</b></h2>
		<div>This is a serious matter to us so we request you to communicate this to us asap and we will take appropriate actions. You can either call us or write to us at <a href="http://www.info@city-hoopla.com">info@city-hoopla.com</a>.</div>
	</li>
	<li>
		<h2><b>What are the other channels in order to access CityHoopla other than mobile app?</b></h2>
		<div>You can call us at our published toll free phone number if you need any help. CityHoopla ambassadors will be delighted to help. Currently, we have not launched 	our service over the website but this will be done very soon as well.</div>	
	</li>
	<li>
		<h2><b>Can CityHoopla help me in any price negotiation with the listed business owners?</b></h2>
		<div>No. We only provide a connection between you and the business owner. Other than any CityHoopla discount/offer may have been mentioned within the app, we do not do any price negotiation between you and the business owners. This is not in our scope of service.</div>
	</li>
	<li>
		<h2><b>I have an experience with the listed posting/advert. How do I share it with my fellow city residents?</b></h2>
		<div>In the detailed screen on CityBusiness i.e. when you click a particular advert there is an option to drop few lines about your experience and also rate the product/service.</div>
	</li>
	<li>
		<h2><b>Is posting an advert to resell my extra tickets totally free?</b></h2>
		<div>Yes it is but please ensure you have logged in as a registered user.</div>
	</li>
	<li>
		<h2><b>I found a Resell Ticket post interesting and decided to buy the unused tickets. However, the seller is asking for more money than what he had advertised in CityHoopla. In fact, he is asking for a price which is even more that the ticket price. What should I do?</b></h2>
		<div>While posting a Resell Ticket post, CityHoopla will not allow the post to be successfully completed in case the asking price entered is more than the ticket price. Please remember, CityHoopla DOES NOT support black-market of ticket selling hence this validation is incorporated within the app. However, the scope of app is only to provide a city platform so that the buyer gets connected to the seller. There is no fund transaction taking place via the CityHoopla app and hence there is no monitory benefit to us like transaction commission etc. The price negotiation is completely out 	of scope of CityHoopla and it is left between the buyer and the seller independent to 	CityHoopla.</div>
	</li>
	<li>
		<h2><b>Do I get into any sort of trouble in case I post my experience on something I did not appreciate?</b></h2>
		<div>No. CityLife provides a powerful social media where you can select one of the 	categories (Traffic, Police, Health facility etc etc) and post your images/video to share your experience with your fellow city residents.
</div>
	</li>
</ol>
</p>
<p>
	<h1><b>For City Business Owners:</b></h1>
	<ol>
		<li><b>I am interested in marketing my offerings in CityHoopla. What do I do?</b>
		</li>
		<div>Please call us or write to us at <a href="http://www.info@city-hoopla.com">info@city-hoopla.com</a> and one of our ambassadors will get in touch with you.</div>
		
		<li><b>I do not see any category in the app where I can publish and market my products/services?</b></li>
		<div>As long as your products/services comply with our Listing Policy, we are more than happy to include your offerings and create a new category if need be.</div>
		<li><b>What are the payment modes?</b></li>
		<div>Our preference would be by cheque though we do have by cash and bank transfer 	options as well.</div>
		<li><b>Do I need to contact CityHoopla Sales Rep every time when I need to renew my advert subscription?</b></li>
		<div>If you are computer savvy and have internet access, we will provide you a self-service tool exclusively for your subscription management purpose. Using this, you 	will be able to update your personal and contact information, buy new subscription, 	renew subscription etc.</div>
		<li><b>How do I validate a discount coupon when a customer displays it to me and demands for the discount mentioned in the coupon?</b></li>
		<div>First level of validation is for you to check if today’s date falls between the offer validity duration. Customer identity validation may not be important since what matters more is that you are getting a genuine sale.</div>
		<li><b>I need to cancel my advert subscription before its expiry date. What should I do?</b></li>
		<div>We are sad to know this however very keen to understand why you have taken this decision. We are keen learners and listeners and have highest regard towards customer feedback. Please contact your Sales Rep to take this forward or write us at <a href="http://www.info@city-hoopla.com">info@city-hoopla.com</a> and someone will get in touch with you asap.</div>
	</ol>
</p>
</body>
</html>