<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>Privacy Policy</title>
	<style type="text/css">
		#Con{color: rgb(90,90,90);}
	</style>
</head>
<body>
<h1><b>Privacy Policy</b></h1>
<p>This privacy policy describes how we handle your personal information. We collect, use, and share personal information to help the CityHoopla work and to keep it safe (details below). In formal terms, CityHoopla (registered DigiSpace Software Private Limited India, acting itself and through its subsidiaries, is the "data controller" of your personal information. This policy is effective 01/11/2016.</p><br>
<h1 id="Con"><b>Collection</b></h1>
<p>Information posted on CityHoopla is obviously publicly available. Our servers are located in Mumbai, India. Therefore, if you choose to provide us with personal information, you are consenting to the transfer and storage of that information on our servers. We collect and store the following personal information:
	<ul>
		<li>Usernames, email address, physical contact information and mobile number</li>
		<li>computer sign-on data, statistics on page views, traffic to and from CityHoopla and Ad data (all through cookies – you can take steps to disable the cookies on your browser although this is likely to affect your ability to use the site) Other information, including users IP address and standard web log information.</li>
	</ul>
</p>
<p>By accessing, browsing and continuing to use/browse the App or by clicking on "Register/Sign Up" or "Submit" icons or other relevant icons/ buttons on the App, you accept the terms of this Privacy Policy, and the fact that we store and process your Personal Information in accordance with this Privacy Policy.</p>
<p>If you submit a comment or feedback on any business, other user’s review comment featured on the App and/or any of the Services offered on the App, we may (but are not obliged to) publish your comment online or offline to promote our business, products and services. We will collect your name which will be displayed next to your comment, and e-mail address, which will not be published, but which we may use to contact you in relation to your comment. From time to time, we may ask you for your opinion on our Services. When we do surveys wherein we may use cookies or other on-device storage and may combine the information collected by those cookies or other on-device storage with your answers. We will make sure that the survey results do not identify you, or anyone else who fills in our surveys.</p><br>
<h1 id="Con"><b>Use</b></h1>
<p>We use users' personal information to:
	<ul>
		<li>provide our services;</li>
		<li>troubleshoot problems;</li>
		<li>encourage safe trading and enforce our policies;</li>
		<li>customize users' experience, measure interest in our services, and inform users about service and updates;</li>
		<li>communicate marketing and promotional offers to you;</li>
	</ul>
</p><br>
<h1 id="Con"><b>Availability</b></h1>
<p>
	<ol>
		<li>CityHoopla will use reasonable efforts to make the App available at all times. However, you acknowledge the App is provided over the internet and mobile networks and so the quality and availability of the App may be affected by factors outside CityHoopla’s reasonable control.</li>
		<li>CityHoopla does not accept any responsibility whatsoever for unavailability of the App, or any difficulty or inability to download or access content or any other communication system failure which may result in the App being unavailable.</li>
		<li>CityHoopla will not be responsible for any support or maintenance for the App.</li>
	</ol>
</p><br>
<h1 id="Con"><b>System Requirements:</b></h1>
<p>
	<ol>
		<li>In order to use the App, you are required to have a compatible mobile telephone or handheld device, internet access, and the necessary minimum specifications ('Software Requirements').</li>
		<li>The software requirements for downloading the CityHoopla mobile App would vary as per the mobile platform. The CityHoopla mobile App would be available in English Language as of now.</li>
		<li>The version of the App software may be upgraded from time to time to add support for new functions & services and fix bugs.</li>
	</ol>
</p><br>
<h1 id="Con"><b>Disclosure</b></h1>
<p>
	<ul>
		<li>All information contained by CityHoopla is treated as strictly confidential and CityHoopla does not and will not disclose or share such confidential information to / with any external organization.</li>
		<li>The users’ privacy is very important to us. We do not and shall not at any point in time, either sell or rent users’ personal information to third parties without users’ explicit consent.</li>
		<li>We may be required from time to time to disclose users’ personal information to Governmental or law enforcing agencies or our regulators, but we will only do so under proper authority.</li>
		<li>CityHoopla also reserves the right to make use of the personal information in any investigation or judicial process relating to fraud on account of such transactions during the period CityHoopla retains such information.</li>
		<li>We may also disclose personal information to enforce our policies, respond to claims that a posting or other content violates other’s rights, or protects anyone’s rights, property or safety.</li>
	</ul><br>
	<ul style="list-style-type:none;">
		<li>We may also share personal information with: </li>
		<li>- Corporate affiliates who help detect or prevent potentially illegal acts and provide joint services (Our corporate affiliates will market only to users who ask them to). </li>
		<li>- Service providers who help with our business operations.</li>
	</ul>
</p><br>
<h1 id="Con"><b>Using Information from CityHoopla:</b></h1>
<p>You may use personal information gathered from CityHoopla only to follow up with another user about a specific posting, not to send spam/ phishing or collect personal information from someone who hasn't agreed to that.  </p><br>
<h1 id="Con"><b>Access, Modification, and Delition.</b></h1>
<p>You can see, modify or erase your personal information by reviewing your posting or account status page. Contact customer support to review any personal information we store that is not available on CityHoopla. There may be a charge associated with such requests but these will not exceed the amounts permitted by law. We delete personal information when we no longer need it for the purposes we described earlier. We retain personal information as permitted by law to resolve disputes, enforce our policies and prevent unwanted bad human beings from coming back.</p><br>
<h1 id="Con"><b>Data Security.</b></h1>
<p>We use a number of mechanisms (encryption, passwords, physical security) to protect the security and integrity of your personal information against unauthorized access and disclosure. Unfortunately, no data transmission over the internet can be guaranteed to be completely secure. So while we strive to protect such information, we cannot ensure or warrant the security of any information you transmit to us and you do so at your own risk. Once any personal information comes into our possession, we will take reasonable steps to protect that information from misuse and loss and from unauthorized access, modification or disclosure.</p><br>
<h1 id="Con"><b>Confidentiality of Information</b></h1>
<p>Users who use any of the features on CityHoopla agree and accept that they have been fully informed by CityHoopla that the use of features may lead to publication, to all users of CityHoopla, of any personal information posted by them while using any specific feature on CityHoopla. Users further agree that the authenticity of, and consequences from the posting by users of any personal information of themselves or any other person, are the sole responsibility of the user. Users further agree and accept that the terms of the Privacy Policy will be applicable to the use of all features, existing and new. However, the Users agree and accept that confidentiality of information posted on such features has been waived by the users of such features themselves.</p><br>
<h1 id="Con"><b>General</b></h1>
<p>We may update, upgrade, modify (partially &/or fully) this policy at any time, with updates taking effect when you next post. If we or our corporate affiliates are involved in a merger or acquisition, we may share personal information with another company, but this policy will continue to apply. Send questions about this policy to info@city-hoopla.com.</p>

</body>
</html>